{% extends 'base.html' %}

{% block titulo %}{{ celular }}{% endblock %}

{% block conteudo %}
    <div class="detalhar-container">
        <h2>{{ celular }}</h2>
        <p><strong>Marca:</strong> {{ celular.marca }}</p>
        <p><strong>Modelo:</strong> {{ celular.modelo }}</p>
        <p><strong>Preço:</strong> R$ {{ celular.preco }}</p>
        <p><strong>Data de Lançamento:</strong> {{ celular.data_lancamento }}</p>
        <p><strong>Descrição:</strong> {{ celular.descricao }}</p>
        <img src="{{ celular.foto.url }}" alt="{{ celular }}" width="200">
    
        <div>
            <a href="{% url 'editar_celular' celular.id %}">Editar</a>
            <a href="{% url 'excluir_celular' celular.id %}">Excluir</a>
            <a href="{% url 'lista_celulares' %}" class="voltar">Voltar para a lista</a>
        </div>
    </div>
{% endblock %}